* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Coiny', cursive;
}

#port-jumbo {
	border: 8px solid green;
	border-radius: 10px;
	width: 60%;
	padding: 8em 4em;
}

#jumbo-div {
	padding-top: 10%:
	height: 100vh;
	background-image: url(../images/tree.jpeg);
	/*background-color: #333;*/ /*off black*/
	border-radius: 0; /*to remove jumbotron rounded corners*/
}

.jumbotron h1 {
	color: #f2f2f2;
}

.btn a {
	text-decoration: none;
	color: #f2f2f2;
}

#welcome {
    background-image: url(../images/sealone.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    scroll-behavior: none;
    height: 100vh;
    padding-top: 20%;
    border-radius: 0; /*remove jumbo's rounded corner*/
    text-align: center;
    /*opacity: 1.0;*/
}

#welcometext {
	letter-spacing: 8px;
}

#fullstack {
	letter-spacing: 8px;
	margin-bottom: 8%;
}